
<div *ngIf="!user && !loggedIn">
  <mat-card class="login-card">
    <mat-card-title fxLayoutAlign="center center">Log in</mat-card-title>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex="100">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput id="usernameInput" [(ngModel)]="username" placeholder="Please, enter username.">
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput id="passwordInput" [(ngModel)]="password" type="password">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex="100">
        <button mat-raised-button color="warn" class="auth-btn">Log&nbsp;&nbsp;in</button>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex="100">
        <button mat-raised-button color="info" (click)="signInWithGoogle()" class="auth-btn"><mat-icon svgIcon="logo"></mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Sign in with Google</button>
      </div>
      <div fxFlex="100">
        <button mat-raised-button color="primary" (click)="signInWithFB()" class="auth-btn">Sign in with Facebook</button>
      </div>
    </div>
  </mat-card>
</div>

