<div fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div fxFlex style="text-align: center">
    <!-- <img style="width: 50%; height: 50%" src="ChellGOV-Logo-Full-Blue-with-Outline.png" /> -->
  </div>
  <div>
    <mat-form-field style="min-width: 1080px; width: 100%">
      <input matInput placeholder="Search" [(ngModel)]="searchTerm">
      <button mat-icon-button matSuffix (click)="navigateToSearch();">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center end" fxLayoutGap="10px">
  <p style="font-size: 32px; font-family: Roboto">The fastest way to find answers for government <strong>audits, proposals, & contracts. </strong></p>
</div>
